---
import type { Item } from "../../models/Book";
import LoupeIcon from "../LoupeIcon.astro";
import BookItem from "./BookItem.astro";

interface Props {
    books: Item[];
}

const { books } = Astro.props;
---

<section class="columns-1 lg:columns-2 py-4 px-8 gap-x-8 text-center">
    {
        books.length > 0 ? (
            books.map((book) => <BookItem book={book} />)
        ) : (<p class="text-white">No se han encontrado resultados</p>)
    }
</section>

<!-- <script>
    const cards = document.querySelectorAll(".card")
    
    cards.forEach((card) => {
        card?.addEventListener("click", () => {

            const details = card.querySelector('.details');
    
            const isVisible = !details?.classList.contains('hidden');
            
            cards.forEach(card => {
                const details = card.querySelector('.details');
                if (details) {
                    details.classList.add('hidden');
                    card.classList.remove("w-auto")
                }
            });

            if (!isVisible) {
                details?.classList.remove('hidden');
                card.classList.add("w-auto")
            }
        });
    })


</script> -->