---
import type { Item } from "../../models/Book";
import BookItem from "./BookItem.astro";

interface Props {
    books: Item[];
}

const { books } = Astro.props;
---

<div class="mx-4 my-12">
    {
        books.length > 0 ? (
            <ul class="flex justify-center flex-wrap w-full gap-8 list-none">
                {books.map((b) => (
                   <BookItem book={b} />
                ))}
            </ul>
        ) : (
            <span class="text-white">No hay resultados</span>
        )
    }
</div>

<script>
    const cards = document.querySelectorAll(".card")
    
    cards.forEach((card) => {
        card?.addEventListener("click", () => {

            const details = card.querySelector('.details');
    
            const isVisible = !details?.classList.contains('hidden');
            
            cards.forEach(card => {
                const details = card.querySelector('.details');
                if (details) {
                    details.classList.add('hidden');
                    card.classList.remove("w-auto")
                }
            });

            if (!isVisible) {
                details?.classList.remove('hidden');
                card.classList.add("w-auto")
            }
        });
    })


</script>
