---

---

<h1 class='text-primary text-xl xl:text-[54px] leading-none text-center font-black uppercase italic -rotate-[10deg] mb-10'>
    <span class='text-6xl lg:text-8xl xl:text-9xl block text-white'>Books</span>
    <span class='max-w-[38rem] m-auto block text-yellow-400'>
        .info
    </span>
</h1>